<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <link rel="stylesheet" href="/styles.css"> 
    
    <title>Nova Senha | EcoAlerta</title>
</head>
<body>
    <main class="container">
        <form action="/reset-password/<%= token %>" method="POST"> 
            <h1>Criar Nova Senha</h1>
            
            <div class="input-box">
                <input type="password" name="password" required placeholder="Nova Senha (mín. 6 caracteres)" minlength="6">
                <i class="bx bxs-lock-alt"></i>
            </div>

            <button type="submit" class="login">Salvar Nova Senha</button>
        </form>
    </main>
</body>
</html>